<div class='container bestseller'>
  <div class='row vertical-align'>
    <div class='col-md-1'>
      <%#= link_to '', '#', class: "fa fa-caret-left arrow inactive" %>
      <%= bestseller_prev_link %>
    </div>

    <div class='col-md-10'>
      <div class='row'>
        <div class='col-md-12'>
          <p> <span class='title'><%= @bestseller_current.title %></span> by 
            <%= authors_of_book_with_links.html_safe %>
          </p>
        </div>
      </div>

      <div class='row'>
        <div class='col-md-3'>
          <%= image_tag 'default_cover.jpg' %>
        </div>
        <div class='col-md-9'>
          <%= content_tag :p, @bestseller_current.description %>
        </div>
      </div>
    </div>

    <div class='col-md-1'>
      <%= bestseller_next_link %>
    </div>
  </div>
</div>