= form_tag user_password_path(user), method: 'patch', id: 'password_update' do
  .form-group
    - err_class = user.errors.key?(:current_password) ? 'field_with_errors' : nil
    = label_tag('Old password')
    = text_field_tag('user[current_password]', nil, placeholder: 'type old password', class: "form-control #{err_class}")
  .form-group
    - err_class = user.errors.key?(:password) ? 'field_with_errors' : nil
    = label_tag('New password')
    = text_field_tag('user[password]', nil, placeholder: 'type new password', class: "form-control #{err_class}")
  = submit_tag('SAVE', class: 'btn btn-default')
  