.container.edit_customer
  .row
    .col-md-12
      %h3= 'Settings'
  .row
    .col-md-12
      %h4= 'Customer settings'.upcase
      = form_for(@customer, html: {class: 'form-inline'}) do |f|
        .form-group
          = f.text_field(:firstname, placeholder: 'Your firstname', class: 'form-control')
          = f.text_field(:lastname, placeholder: 'Your lastname', class: 'form-control')
          = f.submit( class: 'btn btn-default')
  .row
    .col-md-6
      %h4= 'Billing address'.upcase
      = render 'address_form', address_type: 'billing_address'
        
    .col-md-6
      %h4= 'Shipping address'.upcase
      = render 'address_form', address_type: 'shipping_address'
  .row
    <!--Email-->
    .col-md-6
    <!--Password-->
    .col-md-6
  .row
    <!--Remove account-->
    .col-md-12