.container.edit_customer
  .row
    .col-md-12
      %h3= 'Settings'
  .row
    .col-md-12
      %h4= 'Customer settings'.upcase
      = form_for(@customer, url: user_customer_path, html: {class: 'form-inline'}) do |f|
        .form-group
          = f.text_field(:firstname, placeholder: 'Your firstname', class: 'form-control')
          = f.text_field(:lastname, placeholder: 'Your lastname', class: 'form-control')
          = f.submit( class: 'btn btn-default')
  .row
  .row
    .col-md-6
      %h4= 'EMAIL'.upcase
      = render 'email_form', user: @user
    .col-md-6
      %h4= 'PASSWORD'.upcase
      = render 'password_form', user: @user
  .row
    <!--Remove account-->
    .col-md-12