.container.books
  .row
    .col-md-9
      - if @category
        .row.category_link
          = link_to 'Home', bestseller_path(1)
          >>
          = link_to 'Shop', books_path
          >>
          = link_to "#{@category.title}", books_path(category: @category.id)
      .row.category_title
        - if @category
          = "Categories - #{@category.title}"
        - else
          Shop
      .row
      - (@books.count / 3).times do |row|
        .row
          - 3.times do |col|
            = render 'show_book', books: @books, row: row, col: col
      - rest = @books.count % 3
      - if rest > 0
        .row
          - row = @books.count / 3
          - rest.times do |col|
            = render 'show_book', books: @books, row: row, col: col

    .col-md-3.categories
      SHOP BY CATEGORIES
      - @categories.each do |category|
        .row
          = link_to "#{category.title}", books_path(category: category.id)
  .row
    .col-md-3
    .col-md-3.paginator
      = paginate @books
    .col-md-3
    .col-md-3

