.container.books
  .row
    .col-md-12
      %h2= @book.title
  .row
    .col-md-4
      = image_tag('default_cover.jpg', size: '300x300')
    .col-md-8
      .row
        .col-md-6.price
          = "$#{@book.price}"
        .col-md-6
          .row
            = form_tag(cart_order_items_path, class: 'form-inline pull-right') do
              .form-group
                = hidden_field_tag('book_id', @book.id)
                = text_field_tag('quantity', 1, class: 'form-control quantity_field')
                = submit_tag('ADD TO CART', class: 'btn btn-default')
      .row
        %p= @book.full_description

.container.review
  .row
    .col-md-12
      %h3
        Reviews
        = link_to 'Add review for this book', new_book_review_path(@book), class: 'add_review'
  - @book.reviews.each do |review|
    .row
      %br
      .col-md-12
        %p
          = display_stars(review.value)
          %span.title= review.title
          %span.date= review.updated_at.strftime("%B %d, %Y")
        %p
          by
          = link_to "#{review.customer.name}", '#'
    .row
      .col-md-12
        %p= review.text
