<div id='header'>

  <div id='store_name'>
    <%= link_to "The Bookstore", root_path %>
  </div>

  <div id='shop_links'>
    <ul class="with_delimiter">
      <li><%= link_to "HOME" %></li>
      <li><%= link_to "SHOP" %></li>
    </ul>
  </div>

  <div id='cart_links'>
    <%= link_to "CART" %>
  </div>

  <div id='user_links'>
    <ul class="with_delimiter">
      <li> <%= link_to "Sign in" %> </li>
      <li> <%= link_to "Sign up" %> </li>
    </ul>
  </div>
</div>
